<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <title>KM2 deploy script</title>
    <style>
        body {
            padding: 0 1em;
            background: #222;
            color: #fff;
            font-size: 1em;
        }

        h2, .error {
            color: #c33;
        }

        .prompt {
            color: #6be234;
        }

        .command {
            color: #729fcf;
        }

        .output {
            color: #999;
            margin: 5px 0px 15px 15px;
            line-height: 0.6em;
        }
    </style>
</head>
<body>
<pre>