body {
    padding-bottom: 50px;
}

#console-container {
    position: fixed;
    left: 15px;
    right: 15px;
    bottom: 0;
    color: #333;
    z-index: 999;
}

#console-container * {
    font-size: 11px !important;
    font-family: Verdana !important;
    margin: 0;
    padding: 0;
}

#console-container a {
    text-decoration: none !important;
    color: #B10808 !important;
}

#console-container a:focus {
    outline: none;
}

#console-container li {
    list-style-type: none;
}

#console-heading {
    position: relative;
    
    background-color: #A1D3F8;
    border: 1px solid #8BCAF8;
    border-bottom-width: 0;
    padding: 5px;
    height: 25px;
    
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

#console-size {
    float: right;
    margin-top: 3px;
}

#console-size a {
    float: right;
    margin-left: 5px;
    width: 20px;
    line-height: 20px;
    color: #FFF !important;
    background-color: #0F629F;
    text-align: center;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#console-size a:hover {
    background-color: #34729F;
}

#console-labels {
    position: absolute;
    bottom: 5px;
    left: 5px;
    
    height: 24px;
    padding: 0;
}

#console-labels li.console-plugin-label {
    display: inline;
}

#console-labels li.console-plugin-label a {
    float: left;
    line-height: 28px;
    padding: 0 10px;
    text-align: center;
    display: block;
    margin-right: 4px;
    background-color: #CDE6F8;
    border: 1px solid #8BCAF8;
    font-weight: bold !important;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

#console-labels li.console-plugin-label-selected a {
    background-color: #FFF;
    color: #333 !important;
    border-bottom-color: #FFF;
}

#console-plugin-container {
    border: 1px solid #8BCAF8;
    height: 250px;
    overflow: auto;
    background-color: #FFF;
    margin-top: -1px;
}

table.console-grid {
    background-color: #A1D3F8 !important;
    width: 100% !important;
	border-spacing: 1px !important;
}

table.console-grid td {
    padding: 5px 7px !important;
    background-color: #FFF !important;
}

table.console-grid thead td {
    font-weight: bold !important;
    background-color: #A1D3F8 !important;
}